<!--
  Generated template for the PollHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- The Header -->
<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>poll-history</ion-title>
  </ion-navbar>

  <ion-header>
    <ion-toolbar>
      <ion-segment [(ngModel)]="poll">
        <ion-segment-button value="taken">
          Taken
        </ion-segment-button>
        <ion-segment-button value="created">
          Created
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

<!-- The Buttons -->
    <!-- <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="poll">
          <ion-segment-button value="taken">
            Taken
          </ion-segment-button>
          <ion-segment-button value="created">
            Created
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-header> -->

<!-- Taken List -->
      <ion-content>
          <div [ngSwitch]="poll">
            <ion-list *ngSwitchCase="'taken'">
              <ion-item>
                <ion-thumbnail item-start>
                  <img src= "assets/imgs/sample.jpg">
                </ion-thumbnail>
                <h2>Ruby</h2>
              </ion-item>
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="assets/img/thumbnail-puppy-2.jpg">
                </ion-thumbnail>
                <h2>Oscar</h2>
              </ion-item>
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="assets/img/thumbnail-puppy-4.jpg">
                </ion-thumbnail>
                <h2>Zoey</h2>
              </ion-item>
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="assets/img/thumbnail-puppy-3.jpg">
                </ion-thumbnail>
                <h2>Otto</h2>
              </ion-item>
        </ion-list>

  <!-- Created Poll List -->
  <ion-list *ngSwitchCase="'created'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/sample.jpg">
        </ion-thumbnail>
        <h2>Luna</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/thumbnail-kitten-3.jpg">
        </ion-thumbnail>
        <h2>Milo</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/thumbnail-kitten-4.jpg">
        </ion-thumbnail>
        <h2>Bandit</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/thumbnail-kitten-2.jpg">
        </ion-thumbnail>
        <h2>Nala</h2>
      </ion-item>
</ion-list>
    
  <!-- HERE IS THE ORIGINAL LISTS CODE USE IT TO BASE YOUR TEMPLATE FOR SEGMENTS-->
  <!-- <ion-list>
   <ion-item-divider color="light">Taken Polls</ion-item-divider>
  <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
    {{ item }}
  </button>  
  </ion-list> 

<ion-list>
    <ion-item-divider color="light">Created Polls</ion-item-divider>
    <button ion-item *ngFor="let create of created" (click)="itemSelected(create)">
      {{ create }}
    </button>  
  </ion-list> -->


