<!--
  Generated template for the PollHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- The Header -->
<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>poll-history</ion-title>
  </ion-navbar>

  <!-- <ion-header>
    <ion-toolbar>
      <ion-segment [(ngModel)]="poll">
        <ion-segment-button value="taken">
          Taken
        </ion-segment-button>
        <ion-segment-button value="created">
          Created
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header> -->

<!-- The Buttons -->
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="poll">
          <ion-segment-button value="taken">
            Taken
          </ion-segment-button>
          <ion-segment-button value="created">
            Created
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-header>

<!-- Taken List -->
      <ion-content>
          <div [ngSwitch]="poll">
            <ion-list *ngSwitchCase="'taken'">
            <ion-list *ngFor="let poll of dash$.displayedPolls">
            <ion-item>
                <ion-thumbnail item-start>
                  <img src= "{{poll.coverImage}}">
                </ion-thumbnail>
                <h2>{{poll.pollTitle}}</h2>
                <p>{{poll.pollDescription}}</p>
              </ion-item>
              <ion-infinite-scroll (ionInfinite)="dash$.doInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
              </ion-infinite-scroll>
            </ion-list>
            </ion-list>

  <!-- Created Poll List -->
      <ion-list *ngSwitchCase="'created'">
      <ion-item>
          <ion-list *ngFor="let poll of dash$.displayedPolls">
              <ion-item>
                  <ion-thumbnail item-start>
                    <img src= "{{poll.coverImage}}">
                  </ion-thumbnail>
                  <h2>{{poll.pollTitle}}</h2>
                  <p>{{poll.pollDescription}}</p>
      </ion-item>
      <ion-infinite-scroll (ionInfinite)="dash$.doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-list>
    
  <!-- HERE IS THE ORIGINAL LISTS CODE USE IT TO BASE YOUR TEMPLATE FOR SEGMENTS-->
  <!-- <ion-list>
   <ion-item-divider color="light">Taken Polls</ion-item-divider>
  <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
    {{ item }}
  </button>  
  </ion-list> 

<ion-list>
    <ion-item-divider color="light">Created Polls</ion-item-divider>
    <button ion-item *ngFor="let create of created" (click)="itemSelected(create)">
      {{ create }}
    </button>  
  </ion-list> -->


