page-dashboard {
    
}

.category {
    display: inline-block;
    width: 100px;
    text-align: center;
    p {
        font-size:10px;
    }
}

.pollPreview {
    width:100vw;
    // display: inline-block;
    p {
        display: wrap;
    }
}

ion-img {
    margin-right: 15px;
    float: left;
    height: 180px;
    width: 125px;
    background-color: red;
}

.top-ion-scroll {
    white-space: nowrap;
    height: 115px;
    // background-color: grey;
    margin-left: 15px;
    margin-right: 15px;
}

.main-ion-scroll {
    white-space: nowrap;
    height: 100%;
}

#categories {
    
}