.picture {
    position: relative;
    text-align: center;
    width: 100%;
    height: 80vh;
    z-index: -1;
    font-size: 2.5rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.buttons {
position: relative;
text-align: center;

}

#progressWrapper {
    height: 3px;
    width: 100%;
    background-color: rgba(56, 128, 255, 0.2);
}

#bar {
    height: 3px;
    width: 0%;
    background-color: #3880ff
}

.my-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(17, 17, 17, 0.7);
    z-index: 20;
    top: 0;
    left: 0;
  }


  .scroll-content {
    margin: 0;
    height: 100%; 
    overflow: hidden;
  }

#textWrapper{
    // position: relative;
    z-index: 2;
}

#topText, #bottomText {
    position: absolute;
    width: 100%;
    font-family: impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
    text-transform: uppercase;
    transform: scale(1,2.2);
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
    font-weight: 900;
    font-size: 2.5rem;
  }

#topText{
  top:5%;
}

#bottomText{
  top: 85%;
}


#pollNumber {
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
    position: absolute;
    z-index: 100;
    top: 0%;
    left: 5%;
}

.overlayText {
    position: relative;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 100;
    z-index: 1000;
    top: 25%;
}
