page-poll-builder3 {
  .scroll-content{
    overflow-y: scroll;
    height: auto;
}
}

.counter {
  text-align: center;
}

.card-background-page {

  .trash-icon{
    position: absolute;
    top: 2px;
    right: 4px;
    color:whitesmoke;
    z-index: 1;
    opacity: 0.6;
  }

  .preview-card, .scroll-card{
    position: relative;
    text-align: center;
    display: inline-block;
  }

    .preview-card {
      font-size: 2.5rem;
    }

    .scroll-card {
      height: 40%;
      width: 40%;
      font-size: .8rem;
      .card-title, .card-subtitle{
        transform: scale(1,1.9);
        text-shadow:1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        0px 1px 0 #000,
        1px 0px 0 #000,
        0px -1px 0 #000,
        -1px 0px 0 #000,
        1px 1px 5px #000;
      }
    }
  
    .card-title, .card-subtitle {
      position: absolute;
      width: 100%;
      font-family: impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
      text-transform: uppercase;
      transform: scale(1,2.2);
      color: white;
      letter-spacing: 1px;
      text-shadow:2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0px 2px 0 #000,
      2px 0px 0 #000,
      0px -2px 0 #000,
      -2px 0px 0 #000,
      2px 2px 5px #000;
      font-weight: 900;
    }
  
  .card-title{
    top:5%;
  }

  .card-subtitle{
    top: 85%;
  }

  .scroll-content {
    height: auto !important;
    overflow: scroll !important;
    }

}
