page-poll-builder3 {

}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 0%;
      width: 100%;
      font-family: impact;
      font-size: 2.5em;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
      text-shadow:2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0px 2px 0 #000,
      2px 0px 0 #000,
      0px -2px 0 #000,
      -2px 0px 0 #000,
      2px 2px 5px #000;
      font-weight: bold;
    }
  
    .card-subtitle {
      font-size: 2.0em;
      position: absolute;
      top: 80%;
      width: 100%;
      font-family: impact;
      font-size: 2.5em;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
      text-shadow:2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0px 2px 0 #000,
      2px 0px 0 #000,
      0px -2px 0 #000,
      -2px 0px 0 #000,
      2px 2px 5px #000;
      font-weight: bold;
    }
  
  }
