page-poll-results {
    
    #resultThumb {
        width: 80px;
        height: auto;
        margin: 15%;
    }

    #suggestionThumb {
        width: 60px;
        height: auto;
        margin: 3%;
    }

    .card-content-md {
        padding: 13px 8px;
    }

    #description {
        padding: 15px 0px 0px 15px;
    }

    .items {
        justify-content: center;
        padding: 20%;
        margin: 20%;
        font-size: large;
    }

    #checkItem {
        font-size: 1.9em;
    }

    #resultMarker {
        color: green;
    }

    ion-slides {
        height: auto;
    }

    .scroll-content {
        margin-top: 55px !important;
        margin-bottom: 165px !important;
        height: auto !important;
        overflow: scroll !important;
    }

    #share {
        text-align: center;
    }

    #suggestionDescription {
        padding-top: 5%;
    }

    #suggestionTitle {
        font-weight: 600;
    }

    .resultText {
        font-size: x-large;
    }

    #progressWrapper1 {
        height: 30px;
        width: 100%;
        background-color: rgba(56, 128, 255, 0.2);
        margin: 8px 0px 8px 0px;
    }

    .bar1 {
        height: 30px;
        width: 0%;
        background-color: #3880ff
    }

    #progressWrapper2 {
        height: 30px;
        width: 100%;
        background-color: rgba(255, 56, 56, 0.2);
        margin: 15px 0px 15px 0px;
    }

    .bar2 {
        height: 30px;
        width: 0%;
        background-color: #ff3838
    }

    #moreResults {
        padding: 0% 4%;
    }

    .barText {
        position: absolute;
        font-size: x-large;
        left: 45%;
    }

    #closeIcon {
        font-size: 25px;
        padding-right: 15%;
    }

}
