page-poll-results {
    
    #resultThumb {
        width: 80px;
        height: auto;
        margin: 15%;
    }

    .card-content-md {
        padding: 13px 8px;
    }

    #description {
        padding: 15px 0px 0px 15px;
    }

    .items {
        justify-content: center;
        padding: 40%;
        margin: 20%;
        font-size: large;
    }

    #resultMarker {
        color: green;
    }

}
